<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udinus.bimaeducation">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.udinus.bimaeducation.ForumActivity"
            android:exported="false" />
        <activity
            android:name="com.udinus.bimaeducation.iEducation_Description"
            android:exported="false" />
        <activity
            android:name="com.udinus.bimaeducation.iEducation"
            android:exported="false" />
        <activity
            android:name="com.udinus.bimaeducation.Kalender"
            android:exported="true" />
        <activity
            android:name="com.udinus.bimaeducation.ClaimSertifikatActivity"
            android:exported="true" />
        <activity
            android:name="com.udinus.bimaeducation.ListPaymentActivitiy"
            android:exported="true" />
        <activity
            android:name="com.udinus.bimaeducation.PaymentActivity"
            android:exported="true" />
        <activity
            android:name="com.udinus.bimaeducation.SuccesRegister"
            android:exported="true" />
        <activity
            android:name="com.udinus.bimaeducation.RegisterHomeActivity"
            android:exported="true" />
        <activity
            android:name="com.udinus.bimaeducation.MainMenuActivity"
            android:exported="true" />
        <activity
            android:name="com.udinus.bimaeducation.ChangePasswordActivity"
            android:exported="true" />
        <activity
            android:name="com.udinus.bimaeducation.SendcodeActivity"
            android:exported="true" />
        <activity
            android:name="com.udinus.bimaeducation.RegisterActivity"
            android:exported="true" />
        <activity
            android:name="com.udinus.bimaeducation.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name="com.udinus.bimaeducation.LoginActivity"
            android:exported="true" />
        <activity
            android:name="com.udinus.bimaeducation.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>